body {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
.header {
  margin: 0;
  background: skyblue;
}

.error {
  width:250px;
  background-color: red;
  color: white;
}

.top-menu {
  display: flex;
}

.top-menu a {
  padding: 10px;
}

.active {
  background: rebeccapurple;
  color: white;
}